<nav class="text-center bg-dark p-4 ">
    <a class="m-4 text-white text-decoration-none " href="/">home</a>
    <a class="m-4 text-white text-decoration-none" href="/library">library</a>
    <a class="m-4 text-white text-decoration-none" href="/about">about</a>

</nav>